:root {
  --color-md-surface-0: #000000;
  --color-md-surface-10: #1C1B1F;
  --color-md-surface-20: #313033;
  --color-md-surface-30: #484649;
  --color-md-surface-40: #605D62;
  --color-md-surface-50: #787579;
  --color-md-surface-60: #939094;
  --color-md-surface-70: #AEAAAE;
  --color-md-surface-80: #C9C5CA;
  --color-md-surface-90: #E6E1E5;
  --color-md-surface-95: #F4EFF4;
  --color-md-surface-99: #FFFBFE;
  --color-md-surface-100: #FFFFFF;
  --color-md-surface-variant-0: #000000;
  --color-md-surface-variant-10: #1C1B1F;
  --color-md-surface-variant-20: #313033;
  --color-md-surface-variant-30: #484649;
  --color-md-surface-variant-40: #605D62;
  --color-md-surface-variant-50: #787579;
  --color-md-surface-variant-60: #939094;
  --color-md-surface-variant-70: #AEAAAE;
  --color-md-surface-variant-80: #C9C5CA;
  --color-md-surface-variant-90: #E6E1E5;
  --color-md-surface-variant-95: #F4EFF4;
  --color-md-surface-variant-99: #FFFBFE;
  --color-md-surface-variant-100: #FFFFFF;
}