:root {
  --color-base-blue-100: #dbeafe;
  --color-base-blue-200: #bfdbfe;
  --color-base-blue-300: #93c5fd;
  --color-base-blue-400: #60a5fa;
  --color-base-blue-500: #3b82f6;
  --color-base-blue-600: #2563eb;
  --color-base-blue-700: #1d4ed8;
  --color-base-blue-800: #1e40af;
  --color-base-blue-900: #1e3a8a;
  --color-base-blue-tint-10: #fafcff;
  --color-base-blue-tint-20: #f2f7ff;
  --color-base-blue-tint-30: #e6f0ff;
  --color-base-gray-100: #f3f4f6;
  --color-base-gray-200: #e5e7eb;
  --color-base-gray-300: #d1d5db;
  --color-base-gray-400: #9ca3af;
  --color-base-gray-500: #6b7280;
  --color-base-gray-600: #4b5563;
  --color-base-gray-700: #374151;
  --color-base-gray-800: #1f2937;
  --color-base-gray-900: #111827;
  --color-base-gray-tint-10: #fefefe;
  --color-base-gray-tint-20: #fcfcfd;
  --color-base-gray-tint-30: #f8fafc;
  --color-base-gray-light: #CCCCCC;
  --color-base-gray-medium: #999999;
  --color-base-gray-dark: #111111;
  --color-base-green-100: #dcfce7;
  --color-base-green-200: #bbf7d0;
  --color-base-green-300: #86efac;
  --color-base-green-400: #4ade80;
  --color-base-green-500: #22c55e;
  --color-base-green-600: #16a34a;
  --color-base-green-700: #15803d;
  --color-base-green-800: #166534;
  --color-base-green-900: #14532d;
  --color-base-green-tint-10: #fafdfb;
  --color-base-green-tint-20: #f2faf5;
  --color-base-green-tint-30: #e6f7ed;
  --color-base-red: #FF0000;
  --color-base-yellow-100: #fef9c3;
  --color-base-yellow-200: #fef08a;
  --color-base-yellow-300: #fde047;
  --color-base-yellow-400: #facc15;
  --color-base-yellow-500: #eab308;
  --color-base-yellow-600: #ca8a04;
  --color-base-yellow-700: #a16207;
  --color-base-yellow-800: #854d0e;
  --color-base-yellow-900: #713f12;
  --color-base-yellow-tint-10: #fefce8;
  --color-base-yellow-tint-20: #fef9c3;
  --color-base-yellow-tint-30: #fef08a;
  --color-base-purple-100: #f3e8ff;
  --color-base-purple-200: #e9d5ff;
  --color-base-purple-300: #d8b4fe;
  --color-base-purple-400: #c084fc;
  --color-base-purple-500: #a855f7;
  --color-base-purple-600: #9333ea;
  --color-base-purple-700: #7e22ce;
  --color-base-purple-800: #6b21a8;
  --color-base-purple-900: #581c87;
  --color-base-purple-tint-10: #faf5ff;
  --color-base-purple-tint-20: #f3e8ff;
  --color-base-purple-tint-30: #e9d5ff;
  --color-base-white: #ffffff;
  --color-base-black: #000000;
}