:root {
  --color-semantic-primary: #3b82f6;
  --color-semantic-secondary: #6b7280;
  --color-semantic-success: #22c55e;
  --color-semantic-warning: #eab308;
  --color-semantic-danger: #ef4444;
  --color-semantic-information: #60a5fa;
  --color-semantic-background-primary: #3b82f6;
  --color-semantic-background-secondary: #6b7280;
  --color-semantic-background-success: #22c55e;
  --color-semantic-background-warning: #eab308;
  --color-semantic-background-danger: #ef4444;
  --color-semantic-background-information: #60a5fa;
  --color-semantic-background-white: #ffffff;
  --color-semantic-background-black: #000000;
  --color-semantic-background-base: #f3f4f6;
  --color-semantic-background-elevated: #ffffff;
  --color-semantic-text-primary: #ffffff;
  --color-semantic-text-secondary: #ffffff;
  --color-semantic-text-success: #ffffff;
  --color-semantic-text-warning: #000000;
  --color-semantic-text-danger: #ffffff;
  --color-semantic-text-information: #ffffff;
  --color-semantic-text-white: #ffffff;
  --color-semantic-text-black: #000000;
  --color-semantic-text-base: #111827;
  --color-semantic-text-muted: #4b5563;
}