:root {
  --radius-md-base-none: 0px;
  --radius-md-base-extra-small: 4px;
  --radius-md-base-small: 8px;
  --radius-md-base-medium: 12px;
  --radius-md-base-large: 16px;
  --radius-md-base-extra-large: 28px;
  --radius-md-base-full: 9999px;
  --radius-md-common-xs: 4px;
  --radius-md-common-sm: 8px;
  --radius-md-common-md: 12px;
  --radius-md-common-lg: 16px;
  --radius-md-common-xl: 28px;
  --radius-md-common-full: 9999px;
  --radius-md-component-button: 12px;
  --radius-md-component-card: 16px;
  --radius-md-component-dialog: 28px;
  --radius-md-component-fab: 9999px;
  --radius-md-component-chip: 9999px;
  --radius-md-component-input: 8px;
}