/* Sizing Tokens */
:root {
  /* Width Tokens */
  --width-1: 2rem;    /* 32px */
  --width-2: 4rem;    /* 64px */
  --width-3: 6rem;    /* 96px */
  --width-4: 10rem;   /* 160px */
  --width-5: 16rem;   /* 256px */
  --width-6: 26rem;   /* 416px */
  --width-7: 42rem;   /* 672px */

  /* Height Tokens */
  --height-1: 1rem;   /* 16px */
  --height-2: 2rem;   /* 32px */
  --height-3: 3rem;   /* 48px */
  --height-4: 4rem;   /* 64px */
  --height-5: 5rem;   /* 80px */
  --height-6: 6rem;   /* 96px */
  --height-7: 7rem;   /* 112px */
  --height-8: 8rem;   /* 128px */
  --height-9: 9rem;   /* 144px */
  --height-10: 10rem; /* 160px */
} 