:root {
  --sizing-md-base-xs: 2rem;
  --sizing-md-base-sm: 4rem;
  --sizing-md-base-md: 6rem;
  --sizing-md-base-lg: 10rem;
  --sizing-md-base-xl: 16rem;
  --sizing-md-base-2xl: 26rem;
  --sizing-md-base-3xl: 42rem;
  --sizing-md-base-4xl: 80px;
  --sizing-md-component-height-xs: 24px;
  --sizing-md-component-height-sm: 32px;
  --sizing-md-component-height-md: 40px;
  --sizing-md-component-height-lg: 48px;
  --sizing-md-component-height-xl: 56px;
  --sizing-md-header-height: 64px;
  --sizing-md-icon-xs: 16px;
  --sizing-md-icon-sm: 20px;
  --sizing-md-icon-md: 24px;
  --sizing-md-icon-lg: 32px;
  --sizing-md-icon-xl: 40px;
  --sizing-md-container-width-xs: 320px;
  --sizing-md-container-width-sm: 480px;
  --sizing-md-container-width-md: 640px;
  --sizing-md-container-width-lg: 960px;
  --sizing-md-container-width-xl: 1280px;
  --sizing-md-border-width-none: 0px;
  --sizing-md-border-width-thin: 1px;
  --sizing-md-border-width-medium: 2px;
  --sizing-md-border-width-thick: 4px;
}