:root {
  --spacing-md-base-0: 0px;
  --spacing-md-base-1: 4px;
  --spacing-md-base-2: 8px;
  --spacing-md-base-3: 12px;
  --spacing-md-base-4: 16px;
  --spacing-md-base-5: 20px;
  --spacing-md-base-6: 24px;
  --spacing-md-base-7: 28px;
  --spacing-md-base-8: 32px;
  --spacing-md-base-9: 36px;
  --spacing-md-base-10: 40px;
  --spacing-md-base-11: 44px;
  --spacing-md-base-12: 48px;
  --spacing-md-base-13: 52px;
  --spacing-md-base-14: 56px;
  --spacing-md-base-15: 60px;
  --spacing-md-base-16: 64px;
  --spacing-md-base-17: 68px;
  --spacing-md-base-18: 72px;
  --spacing-md-base-19: 76px;
  --spacing-md-base-20: 80px;
  --spacing-md-common-xs: 4px;
  --spacing-md-common-sm: 8px;
  --spacing-md-common-md: 16px;
  --spacing-md-common-lg: 24px;
  --spacing-md-common-xl: 32px;
  --spacing-md-common-2xl: 48px;
  --spacing-md-common-3xl: 64px;
  --spacing-md-common-4xl: 80px;
}