:root {
  --typography-font-size-xs: 0.25rem;
  --typography-font-size-sm: 0.5rem;
  --typography-font-size-sl: 0.75rem;
  --typography-font-size-md: 1rem;
  --typography-font-size-lg: 1.25rem;
  --typography-font-size-xl: 1.5rem;
  --typography-font-size-2xl: 1.75rem;
  --typography-font-size-3xl: 2rem;
  --typography-font-size-4xl: 2.25rem;
  --typography-font-weight-normal: 400;
  --typography-font-weight-medium: 500;
  --typography-font-weight-semibold: 600;
  --typography-font-weight-bold: 700;
  --typography-font-family-md: 'Roboto', sans-serif;
  --typography-line-height-tight: 1.25;
  --typography-line-height-normal: 1.5;
  --typography-line-height-relaxed: 1.75;
  --typography-md-display-large-size: 57px;
  --typography-md-display-large-line-height: 64px;
  --typography-md-display-large-weight: 400;
  --typography-md-display-large-tracking: -0.25px;
  --typography-md-display-medium-size: 45px;
  --typography-md-display-medium-line-height: 52px;
  --typography-md-display-medium-weight: 400;
  --typography-md-display-medium-tracking: 0px;
  --typography-md-display-small-size: 36px;
  --typography-md-display-small-line-height: 44px;
  --typography-md-display-small-weight: 400;
  --typography-md-display-small-tracking: 0px;
  --typography-md-headline-large-size: 32px;
  --typography-md-headline-large-line-height: 40px;
  --typography-md-headline-large-weight: 400;
  --typography-md-headline-large-tracking: 0px;
  --typography-md-headline-medium-size: 28px;
  --typography-md-headline-medium-line-height: 36px;
  --typography-md-headline-medium-weight: 400;
  --typography-md-headline-medium-tracking: 0px;
  --typography-md-headline-small-size: 24px;
  --typography-md-headline-small-line-height: 32px;
  --typography-md-headline-small-weight: 400;
  --typography-md-headline-small-tracking: 0px;
  --typography-md-title-large-size: 22px;
  --typography-md-title-large-line-height: 28px;
  --typography-md-title-large-weight: 400;
  --typography-md-title-large-tracking: 0px;
  --typography-md-title-medium-size: 16px;
  --typography-md-title-medium-line-height: 24px;
  --typography-md-title-medium-weight: 500;
  --typography-md-title-medium-tracking: 0.15px;
  --typography-md-title-small-size: 14px;
  --typography-md-title-small-line-height: 20px;
  --typography-md-title-small-weight: 500;
  --typography-md-title-small-tracking: 0.1px;
  --typography-md-label-large-size: 14px;
  --typography-md-label-large-line-height: 20px;
  --typography-md-label-large-weight: 500;
  --typography-md-label-large-tracking: 0.1px;
  --typography-md-label-medium-size: 12px;
  --typography-md-label-medium-line-height: 16px;
  --typography-md-label-medium-weight: 500;
  --typography-md-label-medium-tracking: 0.5px;
  --typography-md-label-small-size: 11px;
  --typography-md-label-small-line-height: 16px;
  --typography-md-label-small-weight: 500;
  --typography-md-label-small-tracking: 0.5px;
  --typography-md-body-large-size: 16px;
  --typography-md-body-large-line-height: 24px;
  --typography-md-body-large-weight: 400;
  --typography-md-body-large-tracking: 0.5px;
  --typography-md-body-medium-size: 14px;
  --typography-md-body-medium-line-height: 20px;
  --typography-md-body-medium-weight: 400;
  --typography-md-body-medium-tracking: 0.25px;
  --typography-md-body-small-size: 12px;
  --typography-md-body-small-line-height: 16px;
  --typography-md-body-small-weight: 400;
  --typography-md-body-small-tracking: 0.4px;
}