<div class="container">
  <h1>Components</h1>
  <div class="components-grid">

    <div class="component-section">
      <h2>Boxes</h2>
      <div class="component-demo">
            <ax-box [axClass]="'ax-primary ax-xl'">
              Primary
            </ax-box>
            <ax-box [axClass]="'ax-secondary ax-lg'">
              Secondary
            </ax-box>
            <ax-box [axClass]="'ax-success ax-lg'">
              Success
            </ax-box>
            <ax-box [axClass]="'ax-warning ax-lg'">
              Warning
            </ax-box>
            <ax-box [axClass]="'ax-danger ax-lg'">
              Danger
            </ax-box>
            <ax-box [axClass]="'ax-information ax-lg'">
              Information
            </ax-box>
      </div>
    </div>

    <div class="component-section">
      <h2>Buttons</h2>
      <div class="component-demo">
            <ax-button [axClass]="'ax-primary ax-xl ax-w-full'">
              Primary
            </ax-button>
            <ax-button [axClass]="'ax-secondary ax-lg'">
              Secondary
            </ax-button>
            <ax-button [axClass]="'ax-success ax-lg'">
              Success
            </ax-button>
            <ax-button [axClass]="'ax-warning ax-lg'">
              Warning
            </ax-button>
            <ax-button [axClass]="'ax-danger ax-lg'">
              Danger
            </ax-button>
            <ax-button [axClass]="'ax-information ax-lg'"> 
              Information
            </ax-button>
      </div>
    </div>

  </div>

</div> 