<div class="container">
  <h1>Components</h1>
  <div class="components-grid">

    <div class="component-section">
      <h2>Boxes</h2>
      <div class="component-demo">
            <ax-box [axClass]="'ax-primary ax-comp-lg'">
              Primary
            </ax-box>
            <ax-box [axClass]="'ax-secondary ax-comp-lg'">
              Secondary
            </ax-box>
            <ax-box [axClass]="'ax-success ax-comp-lg'">
              Success
            </ax-box>
            <ax-box [axClass]="'ax-warning ax-comp-lg'">
              Warning
            </ax-box>
            <ax-box [axClass]="'ax-danger ax-comp-lg'">
              Danger
            </ax-box>
            <ax-box [axClass]="'ax-info ax-comp-lg'">
              Information
            </ax-box>
      </div>
    </div>

    <div class="component-section">
      <h2>Buttons</h2>
      <div class="component-demo">
            <ax-button [axClass]="'ax ax-primary ax-comp-lg ax-text-md'">
              Primary
            </ax-button>
            <ax-button [axClass]="'ax ax-secondary ax-comp-lg ax-text-sl'">
              Secondary
            </ax-button>
            <ax-button [axClass]="'ax ax-success ax-comp-lg ax-text-sl'">
              Success
            </ax-button>
            <ax-button [axClass]="'ax ax-warning ax-comp-lg ax-text-sl'">
              Warning
            </ax-button>
            <ax-button [axClass]="'ax ax-danger ax-comp-lg ax-text-sl'">
              Danger
            </ax-button>
            <ax-button [axClass]="'ax ax-info ax-comp-lg ax-text-sl'">   
              Information
            </ax-button>
      </div>
    </div>

  </div>

</div> 