<div class="container">
  <h1>Components</h1>
  <div class="components-grid">

    <div class="component-section">
      <h2>Boxes</h2>
      <div class="component-demo">
            <ax-box class="v-primary w-lg h-md">
              Primary
            </ax-box>
            <ax-box class="v-secondary w-lg h-md">
              Secondary
            </ax-box>
            <ax-box class="v-success w-lg h-md">
              Success
            </ax-box>
            <ax-box class="v-warning w-lg h-md">
              Warning
            </ax-box>
            <ax-box class="v-danger w-lg h-md">
              Danger
            </ax-box>
            <ax-box class="v-information w-lg h-md">
              Information
            </ax-box>
      </div>
    </div>

    <div class="component-section">
      <h2>Buttons</h2>
      <div class="component-demo">
            <ax-button class="v-primary w-lg h-md">
              Primary
            </ax-button>
            <ax-button class="v-secondary w-lg h-md">
              Secondary
            </ax-button>
            <ax-button class="v-success w-lg h-md">
              Success
            </ax-button>
            <ax-button class="v-warning w-lg h-md">
              Warning
            </ax-button>
            <ax-button class="v-danger w-lg h-md">
              Danger
            </ax-button>
            <ax-button class="v-information w-lg h-md">
              Information
            </ax-button>
      </div>
    </div>

  </div>

</div> 