@use './styles/tokens' as *;

* {
  margin:        0;
  padding:       0;
  box-sizing:    border-box;
}

/* Set default font family for the entire application */
body {
  font-family:      var(--font-family-base);
  background-color: var(--color-semantic-background-base);
  color:            var(--color-semantic-text-base);
  transition:       background-color var(--transition-md-common-normal),
                    color var(--transition-md-common-normal);
}

.container {
  max-width:        1200px;
  margin:           0 auto;
  padding:          var(--spacing-md-common-md);
}
