.ax-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: var(--font-family-base);
  transition: all var(--md-transition-theme);
  border-radius: var(--md-radius-button);
  gap: var(--md-spacing-2);

  .ax-button-content {
    display: block;
  }
}
